
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" name="Macrosoft" content="Portfolio">
	<title>AppCat</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'accounts/styles.css' %}" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>
   {% load staticfiles %}
    <link rel="shortcut icon" type="image/ico" href="{% static 'img/catLogo2.png' %}"/>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body data-spy="scroll" data-target="#my-navbar">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<div id="main">
  	<nav class="navbar navbar-default navbar-fixed-top" id="my-navbar">
  		<div class="container">
			<div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
              <a class="navbar-brand" href="/">
                  <img src="{% static 'img/catLogo2.png' %}" width="40" height="40" class="d-inline-block align-top img-thumbnail" alt=""></a>
                <br>
		    </div>
			<div id="navbar" class="navbar-collapse collapse">

			<form method = "get" action = "search/" target="_blank">
	          <ul class="nav navbar-nav">
				  <li><a href="/accounts/profile">Profile</a></li>
				  <li><a href="/accounts/register">Register</a></li>

				  <li style="padding:17.5px 0px"> <input class="form-control mr-sm-2" type="text" placeholder="Search Applications" name = "keyword"> </li>
				  <li style="padding:17.5px 0px"> <input class="btn btn-outline-success my-2 my-sm-0" type="SUBMIT">  </li>

	          </ul>
	          </form>

	          <ul class="nav navbar-nav navbar-right">
                  <li><a href="/accounts/login"><i class="fa fa-sign-in"></i> Log In</a></li>
	          </ul>
	        </div>
  		</div>
  	</nav>
        {% block jumbo %}
  	<div class="jumbotron" id="top">
  		<div class="container text-center" id="top-text">
            <h1 class="asap-font" style="font-weight: bold; font-size: 100px; color: Cornsilk;">AppCat</h1>
			<h4 class="asap-font" style="font-weight: bold; font-size: 50px; color: Cornsilk;">Powered by Macrosoft</h4>

  			<p id="my-intro" style="font-weight: bold; font-size: 25px; color: Cornsilk;">
				Welcome to AppCat, a one-stop repository to get information
                on all kinds of different applications from the Apple App Store, the Amazon
                App Store, and the Google Play Store.  Check out these app stores below.
            </p>

			<br><br>
  			<div class="btn-group buffer">
				<center>
					<a href="https://www.apple.com/itunes/charts/free-apps/" class="btn btn-lg btn-primary outline" target="_blank" id="appleStore"> <h4 style="font-weight: bold">Apple App Store</h4></a>
					<a href="https://www.amazon.com/mobile-apps/b?ie=UTF8&node=2350149011" class="btn btn-lg btn-warning outline" target="_blank" id="amazon"> <h4 style="font-weight: bold">Amazon App Store</h4></a>
					<a href="https://play.google.com/store?hl=en" class="btn btn-lg btn-danger outline" target="_blank" id="googlePlay"> <h4 style="font-weight: bold">Google Play Store</h4></a>
                </center>

  			</div>
  		</div>
  	</div>
        {% endblock %}

	</div>
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://code.jquery.com/color/jquery.color-2.1.2.min.js" integrity="sha256-H28SdxWrZ387Ldn0qogCzFiUDDxfPiNIyJX7BECQkDE=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/3ced957014.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js"></script>

	<script src="https://maxg-static.s3.amazonaws.com/static/home/js/lightbox.min.js?Signature=FQwwZmNCkMXZOy%2BSmK%2FusLq%2BgPA%3D&amp;Expires=1509945473&amp;AWSAccessKeyId=AKIAJDHFIV6QUC3D7I6A"></script>
	<script src="https://maxg-static.s3.amazonaws.com/static/home/js/main.js?Signature=NykVdTaej%2F5GV7PIhMCWjR1kq6A%3D&amp;Expires=1509945473&amp;AWSAccessKeyId=AKIAJDHFIV6QUC3D7I6A"></script>


  </body>
{% block featured %}
<div class="container scroll-buffer" id="featured_apps">
  		<section>
			<div class="page-header">
  				<h1>Featured Applications<br></h1>
  			</div>
			<hr>
			<div class="row">
				<div class="col-xs-12">
					<h1>Social</h1>
				</div>
			</div>
			<br>

  			<div class="row">
  				<div class="col-md-4 centered">
					<img src="{% static 'img/snapchat.png' %}" width="200" height="200" class="img-responsive"/>
					<p class="center">
					<h2><b>Snapchat</b></h2>
						<h4>Photo & Video</h4>
						<br>
  						Life's more fun when you live in the moment :) Happy Snapping!

					</p>

  				</div>
				<div class="col-md-4 centered">
					<img src="{% static 'img/instagram.png' %}" width="200" height="200" class="img-responsive"/>
					<p class="center">
					<h2><b>Instagram</b></h2>
						<h4>Photo & Video</h4>
						<br>
							Instagram is a simple way to capture and share the world’s moments.
							Follow your friends and family to see what they’re up to,
							and discover accounts from all over the world that are sharing
							things you love. Join the community of over 500 million people
							and express yourself by sharing all the moments
							of your day––the highlights and everything in between, too.
					</p>

  				</div>
				<div class="col-md-4 centered">
					<img src="{% static 'img/youtube.png' %}" width="200" height="200" class="img-responsive"/>
					<p class="center">
					<h2><b>YouTube</b></h2>
						<h4>Photo & Video</h4>
						<br>
						Get the official YouTube app for iPhone and iPad.
						See what the world is watching in music, gaming, entertainment, news and more. Subscribe to channels, share with friends, edit and upload videos, and watch on any device.

					</p>

  				</div>

  			</div>
			<hr>
			<div class="row">
				<div class="col-xs-12">
					<h1>Email & Communication</h1>
				</div>
			</div>
			<br>

			<div class="row">
  				<div class="col-md-4 centered">
					<img src="{% static 'img/gmail.jpg' %}" width="200" height="200"class="img-responsive"/>
					<p class="center">
					<h2><b>Gmail</b></h2>
						<h4>Productivity</h4>
						<br>
					The official Gmail app brings the best of Gmail to your iPhone or iPad with real-time notifications,
					multiple account support and search that works across all your mail.
					</p>

  				</div>
				<div class="col-md-4 centered">
					<img src="{% static 'img/what.png' %}" width="200" height="200" class="img-responsive"/>
					<p class="center">
					<h2><b>WhatsApp</b></h2>
						<h4>Social Networking</h4>
						<br>
							WhatsApp Messenger is a FREE messaging app available for iPhone
							and other smartphones. WhatsApp uses your phone's Internet connection
							(4G/3G/2G/EDGE or Wi-Fi, as available) to let you message and call friends
							and family. Switch from SMS to WhatsApp to send and receive messages,
							calls, photos, videos, and Voice Messages.
					</p>

  				</div>
				<div class="col-md-4 centered">
					<img src="{% static 'img/fbm.png' %}" width="200" height="200" class="img-responsive"/>
					<p class="center">
					<h2><b>Facebook Messenger</b></h2>
						<h4>Communication</h4>
						<br>
							Instantly connect with the people in your life. Messenger is free, fast, and secure.

					</p>

  				</div>

  			</div>
			<hr>
			<div class="row">
				<div class="col-xs-12">
					<h1>Travel</h1>
				</div>
			</div>
			<br>

			<div class="row">
  				<div class="col-md-4 centered">
					<img src="{% static 'img/GMaps.png' %}" width="200" height="200"class="img-responsive"/>
					<p class="center">
					<h2><b>Google Maps</b></h2>
						<h4>Maps & Navigation</h4>
						<br>
					Going somewhere? Go with Maps, the official app you can rely on for real-time GPS navigation, traffic, transit, and details about millions of places, such as reviews and popular times.
					</p>

  				</div>
				<div class="col-md-4 centered">
					<img src="{% static 'img/Airbnb.jpg' %}" width="200" height="200" class="img-responsive"/>
					<p class="center">
					<h2><b>Airbnb</b></h2>
						<h4>Travel & Local</h4>
						<br>
							Unforgettable trips start with Airbnb. Find adventures in faraway places or your hometown, and access unique homes, experiences, and places around the world. Book everything your trip needs, or start earning money as a host.
					</p>

  				</div>
				<div class="col-md-4 centered">
					<img src="{% static 'img/waze.png' %}" width="200" height="200" class="img-responsive"/>
					<p class="center">
					<h2><b>Waze</b></h2>
						<h4>Maps & Navigation</h4>
						<br>
						Always know what’s happening on the road with Waze. Even if you know the way, Waze tells you instantly about traffic, construction, police, crashes, & more. If traffic is bad on your route, Waze will change it to save you time.
					</p>

  				</div>

  			</div>
			<hr>


  		</section>
  	</div>

	{% endblock %}
</html>
